@media only screen and (min-width: 768px) {
      header {
    grid-template-columns: minmax(0, 1fr) auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
    display: flex;
    justify-content: end;
    gap: .25rem;
    flex-wrap: wrap;
    }
    .navigation li {
    border: none;
    }
    
    /* ------------------------ */
    /* discovery styles */
    /* ------------------------ */
        #memberContainer.grid-view {
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        }

}
 